@* @model TModel *@

@await Component.InvokeAsync("Cart")
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        User@gmail.com
        <img src="Images/avatar.png" width="30" alt="UserImage"
             class="rounded nav-color"/>
    </button>
    <ul class="dropdown-menu bg-light"
        aria-labelledby="dropdownMenuButton">
        <li>
            <span class="dropdown-item-text text-dark">
                <img src="Images/avatar.png" 
                     width="50" alt="UserImage" class="rounded"/>
                user@gmail.com
            </span>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <form method="post" id="logoutForm" class="form-inline">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"
                        asp-controller="Account" asp-action="LogOut">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</div>