@model ListModel<Game>

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var genres = ViewData["Genres"] as List<Genre>;
    var currentGenreName = ViewData["CurrentGenreName"] as string;
    string? genreName = request.Query["genre"].ToString();
}
<h1>@ViewData["Title"]</h1>

<div class="dropdown mb-4">
    <button class="btn btn-secondary dropdown-toggle"
            aria-expanded="False"
            id="genreDropdown"
            data-bs-toggle="dropdown"
            type="button">
        @currentGenreName
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item"
               asp-controller="Game"
               asp-action="Index"
               asp-route-genre="@null">
                Все категории</a>
        </li>
        @foreach (var genre in genres) {
            <li>
                <a class="dropdown-item"
                   asp-controller="Game"
                   asp-action="Index"
                   asp-route-genre="@genre.NormalizedName">
                    @genre.Name
                </a>
            </li>
        }
    </ul>
</div>

<div class="ajax-pagination-container">
    <partial name="_GameListPartial" model="Model"/>
</div>





